.Page{
    width : 780px;
    margin: auto;
    font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
    font-size: 16px;
}
.infophoto{
height: 250px;
}

.info{
float:  left;
}

.photo{
    float: right;
}

.section{
    margin-bottom: 70px;
    text-align: justify;
}

.sec-left{
    float: left;
    font-weight: bold;
    
    font-size: 20px;
}

.sec-right{
    margin-left: 150px;
    margin-top: 34px;
}

h2{
    font-size: 28px;
    color: #3388BB;
    border-bottom: 3px solid #3388DD;
}
.duree{
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
}

.titre{
    font-weight: bold;
    font-size: 20px;
    
}

#forma-left p{
    margin-bottom: 55px;
}